.lang-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.lang-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.lang-icon:before {
  content: "\00a0";
}
.lang-icon.lang-icon-squared {
  width: 1em;
}

.lang-icon-dk {
  background-image: url(../icons/rectangle/dansk.svg);
  border-top-left-radius: .3em;
  border-top-right-radius: .2em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .2em;
}
.lang-icon-dk.lang-icon-squared {
  background-image: url(../icons/square/dansk.svg);
}

.lang-icon-de {
  background-image: url(../icons/rectangle/deutsch.svg);
  border-top-left-radius: .3em;
  border-top-right-radius: .2em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .2em;
}
.lang-icon-de.lang-icon-squared {
  background-image: url(../icons/square/deutsch.svg);
}

.lang-icon-gb {
  background-image: url(../icons/rectangle/english.svg);
  border-top-left-radius: .3em;
  border-top-right-radius: .2em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .2em;
}
.lang-icon-gb.lang-icon-squared {
  background-image: url(../icons/square/english.svg);
}

.lang-icon-es {
  background-image: url(../icons/rectangle/espanol.svg);
  border-top-left-radius: .3em;
  border-top-right-radius: .2em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .2em;
}
.lang-icon-es.lang-icon-squared {
  background-image: url(../icons/square/espanol.svg);
}

.lang-icon-fr {
  background-image: url(../icons/rectangle/francais.svg);
  border-top-left-radius: .3em;
  border-top-right-radius: .2em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .2em;
}
.lang-icon-fr.lang-icon-squared {
  background-image: url(../icons/square/francais.svg);
}

.lang-icon-it {
  background-image: url(../icons/rectangle/italiano.svg);
  border-top-left-radius: .3em;
  border-top-right-radius: .2em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .2em;
}
.lang-icon-it.lang-icon-squared {
  background-image: url(../icons/square/italiano.svg);
}

.lang-icon-nl {
  background-image: url(../icons/rectangle/nederlands.svg);
  border-top-left-radius: .3em;
  border-top-right-radius: .2em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .2em;
}
.lang-icon-nl.lang-icon-squared {
  background-image: url(../icons/square/nederlands.svg);
}

.lang-icon-no {
  background-image: url(../icons/rectangle/norsk.svg);
  border-top-left-radius: .3em;
  border-top-right-radius: .2em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .2em;
}
.lang-icon-no.lang-icon-squared {
  background-image: url(../icons/square/norsk.svg);
}

.lang-icon-sv {
  background-image: url(../icons/rectangle/svenska.svg);
  border-top-left-radius: .3em;
  border-top-right-radius: .2em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .2em;
}
.lang-icon-sv.lang-icon-squared {
  background-image: url(../icons/square/svenska.svg);
}

@media (max-width: 892px) {
  .lang-icon-dk {
    background-image: url(../icons/rectangle/dansk.svg);
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
  }
 
  .lang-icon-de {
    background-image: url(../icons/rectangle/deutsch.svg);
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
  }

  .lang-icon-gb {
    background-image: url(../icons/rectangle/english.svg);
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
  }

  .lang-icon-es {
    background-image: url(../icons/rectangle/espanol.svg);
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
  }

  .lang-icon-fr {
    background-image: url(../icons/rectangle/francais.svg);
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
  }

  .lang-icon-it {
    background-image: url(../icons/rectangle/italiano.svg);
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
  }
  
  .lang-icon-nl {
    background-image: url(../icons/rectangle/nederlands.svg);
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
  }

  .lang-icon-no {
    background-image: url(../icons/rectangle/norsk.svg);
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
  }

  .lang-icon-sv {
    background-image: url(../icons/rectangle/svenska.svg);
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
  }
}