.qrcode-gen-input-bg-color {
    background-color: #0f0f0f !important;
    border: none !important;
}
.qrcode-gen-input-bg-color:focus {
    background-color: #14151c !important;
    border: none !important;
}
.qrcode-button {
    background-color: #0b5ed7;
    color: rgb(255, 255, 255) !important;
    border: none;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    box-shadow: none !important;
}
.qrcode-button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.qrcode-gen-p-input-placeholder {
    color: rgb(121, 121, 121) !important;
}

#showQrCode {
    margin: auto;
    width: 20%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 0 1rem;
  }

.styleQr {
    width: 100%;
    color: #000 !important;
}

@media screen and (max-width: 767px) {
    #showQrCode {
        width: 40%;
      }
}