.gddllg-p {
    color: rgb(209, 209, 209) !important;
}

.gddllg-p-field-head {
    color: rgb(218, 218, 218) !important;
}

.gddllg-input-bg-color {
    background-color: #0f0f0f !important;
    border: none !important;
}

.gddllg-input-bg-color-2 {
    background-color: #0f0f0f !important;
    border: none !important;
}

.gddllg-input-bg-color:focus {
    background-color: #14151c !important;
    border: none !important;
}

.gddllg-input-bg-color-2:focus {
    background-color: #14151c !important;
    border: none !important;
}

.gddllg-p-input-placeholder {
    color: rgb(121, 121, 121) !important;
}

.gddllg-p-input-placeholder:focus {
    color: rgb(210, 210, 210) !important;
}

#copylinkbtn {
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}