.pw-container {
    background-color: #14151c;
    border: 0;
    border-radius: 1rem !important;
}

.pw-header {
    padding: 1rem;
}

.pw {
    background-color: #2a2c39;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: .35rem;
    color: #7c7c7c;
}

.pw-gen-form-bg {
    background-color: #2a2c39 !important;
    border-radius: .7rem;
    color: #d8d8d8 !important;
    font-weight: 600;
}
.pw-unchecked {
    font-weight: normal !important;
    color: #7c7c7c !important;
}

.pw button {
    background-color: rgb(22, 22, 22);
    border: 0rem;
    border-radius: 0.5rem;
    color: rgb(164, 164, 164);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    left: 51.5rem;
}

.pw-heading {
    background-color: #0f0f0f;
    text-align: center;
    font-weight: bolder;
    border-radius: 1rem 1rem 0rem 0rem;
    padding: 0.75rem;
    margin-top: 1rem;
}

.btn {
    background-color: #3584e4 !important;
    font-weight: bold;
    color: #fff !important;
}
.btn:hover {
    background-color: #0f0f0f !important;
    transform: scale(1.01);
    color: inherit;
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    background-color: rgb(46, 46, 46);
    color: rgb(124, 124, 124);
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
    border: none;
}

.generate {
    border: none;
    cursor: pointer;
    padding: 0.75rem;
    margin-top: 1rem;
}

#len {
    border: 0em;
    border-radius: .3rem;
    background-color: #14151c;
    color: rgb(105, 105, 105);
}

#len:active {
    color: rgb(188, 188, 188);
}
#len:focus {
    color: rgb(188, 188, 188);
}
