.padding {
  padding: 0.5rem;
}

.content-wfih38 {
  color: rgba(255, 255, 255, 0.8) !important;
  background-color: #141414 !important;
  padding: 0 !important;
}

.list-group {
  --bs-list-group-bg: rgb(20, 20, 20) !important;
  list-style-type: none;
}

/* GRID */
.col {
  padding: 10px 20px;
  margin-bottom: 10px;
  background: #0f0f0f !important;
  text-align: center;
  font-weight: 400;
}

.row h3 {
  color: rgba(255, 255, 255, 0.8);
}

.row.grid {
  margin-left: 0;
}

.grid {
  position: relative;
  width: 100%;
  background: #0f0f0f;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  margin-bottom: 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-header {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px 10px 20px;
}

.grid .grid-header:before,
.grid .grid-header:after {
  display: table;
  content: " ";
}

.grid .grid-header:after {
  clear: both;
}

.grid .grid-header span,
.grid .grid-header > .fa {
  display: inline-block;
  margin: 0;
  font-weight: 300;
  font-size: 1.5em;
  float: left;
}

.grid .grid-header span {
  padding: 0 5px;
}

.grid .grid-header > .fa {
  padding: 5px 10px 0 0;
}

.grid .grid-header > .grid-tools {
  padding: 4px 10px;
}

.grid .grid-header > .grid-tools a {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 10px;
  cursor: pointer;
}

.grid .grid-header > .grid-tools a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.grid .grid-body {
  padding: 15px 20px 15px 20px;
  font-size: 0.9em;
  line-height: 1.9em;
}

.grid .full {
  padding: 0 !important;
}

.grid .transparent {
  box-shadow: none !important;
  margin: 0px !important;
  border-radius: 0px !important;
}

.grid.top.black > .grid-header {
  border-top-color: #000000 !important;
}

.grid.bottom.black > .grid-body {
  border-bottom-color: #000000 !important;
}

.grid.top.blue > .grid-header {
  border-top-color: #007be9 !important;
}

.grid.bottom.blue > .grid-body {
  border-bottom-color: #007be9 !important;
}

.grid.top.green > .grid-header {
  border-top-color: #00c273 !important;
}

.grid.bottom.green > .grid-body {
  border-bottom-color: #00c273 !important;
}

.grid.top.purple > .grid-header {
  border-top-color: #a700d3 !important;
}

.grid.bottom.purple > .grid-body {
  border-bottom-color: #a700d3 !important;
}

.grid.top.red > .grid-header {
  border-top-color: #dc1200 !important;
}

.grid.bottom.red > .grid-body {
  border-bottom-color: #dc1200 !important;
}

.grid.top.orange > .grid-header {
  border-top-color: #f46100 !important;
}

.grid.bottom.orange > .grid-body {
  border-bottom-color: #f46100 !important;
}

.grid.no-border > .grid-header {
  border-bottom: 0px !important;
}

.grid.top > .grid-header {
  border-top-width: 4px !important;
  border-top-style: solid !important;
}

.grid.bottom > .grid-body {
  border-bottom-width: 4px !important;
  border-bottom-style: solid !important;
}

.grid.support {
  border: 1px solid #0f0f0f !important;
  border-radius: 1rem !important;
  margin-left: 1rem;
  width: auto !important;
  min-width: 80% !important;
  background-color: #080808;
}

.grid.support-content {
  border: 1px solid #0f0f0f !important;
  border-radius: 1rem !important;
  margin-left: 1rem;
  margin-right: 1rem;
  width: auto !important;
  min-width: 80% !important;
  background-color: #080808;
}

.grid-body > ul > li {
  border: 1px solid #080808 !important;
  border-radius: 0.3rem !important;
}

.grid-body > ul > li.active {
  border: 1px solid #0f0f0f !important;
  border-radius: 0.6rem !important;
}

@media screen and (max-width: 974px) {
  #released-c73bc3 {
    display: none;
  }
  #p-released-wi8rhd289 {
    display: none;
  }
}
@media screen and (min-width: 974px) {
  #released-c73bc3 {
    display: block;
  }
  #p-released-wi8rhd289 {
    display: block;
  }
}
.cursor-pointer {
  cursor: pointer !important;
}

#h1-timeline-129ruf {
  text-align: center !important;
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  font-weight: bold !important;
}

#li-29urnf,
#li-v398y3,
#li-fw8yf8 {
  color: rgba(255, 255, 255, 0.8) !important;
  background-color: transparent !important;
}
#li-29urnf.active,
#li-v398y3.active,
#li-fw8yf8.active {
  background-color: #0073b7 !important;
}

#li-29urnf:hover,
#li-v398y3:hover,
#li-fw8yf8:hover {
  background-color: transparent !important;
  color: #005e94 !important;
}
#li-29urnf:hover.active,
#li-v398y3:hover.active,
#li-fw8yf8:hover.active {
  background-color: #0073b7 !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.webapp-mark-39f7cg i {
  color: #0073b7 !important;
  font-size: smaller !important;
}

.webext-mark-c923ncv39 i {
  color: #ff9900 !important;
  font-size: smaller !important;
}

.inb-mark-cs96g32d i {
  color: #8c00ff !important;
  font-size: smaller !important;
}

.os-mark-209hf29 i {
  color: #00c273 !important;
  font-size: smaller !important;
}

.desktopapp-mark-f90h290 i {
  color: #ff0000 !important;
  font-size: smaller !important;
}

.list-group-item-ifh29f2 {
  color: rgba(255, 255, 255, 0.8);
}

.media-body strong {
  color: #818181 !important;
}

.h4-project-title-2f9h2f:hover {
  color: #0051ca !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

/* SUPPORT TICKET */
.support ul {
  list-style: none;
  padding: 0px;
}

.support ul li {
  padding: 8px 10px;
}

.support ul li a {
  color: rgba(255, 255, 255, 0.8);
  display: block;
}

.support ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.support ul li.active,
.support ul li.active:hover {
  background: #0073b7;
}

.support ul li:hover {
  background: #003f63;
}

.support ul li.active a {
  color: rgba(255, 255, 255, 0.8);
}

.support ul.support-label li {
  padding: 2px 0px;
}

.support h2,
.support-content h2 {
  margin-top: 5px;
}

.support-content .list-group li {
  padding: 15px 20px 12px 20px;
}

.support-content .fa-padding .fa {
  padding-top: 5px;
  width: 1.5em;
}

.support-content .info {
  color: rgba(255, 255, 255, 0.8);
  margin: 0px;
}

.support-content a {
  color: rgba(255, 255, 255, 0.8);
}

.support-content .info a:hover {
  text-decoration: none;
}

.support-content .info .fa {
  width: 1.5em;
  text-align: center;
}

.support-content .number {
  color: rgba(255, 255, 255, 0.1);
}

.support-content img {
  margin: 0 auto;
  display: block;
}

.support-content .modal-body {
  padding-bottom: 0px;
}

.support-content-comment {
  padding: 10px 10px 10px 30px;
  background: rgb(7, 7, 7);
  border-top: 1px solid #ccc;
}

#released-c73bc3 li:hover {
  background-color: transparent !important;
}

#released-c73bc3 li a:hover {
  color: #005e94 !important;
}
#released-c73bc3 li a:hover i {
  color: rgba(255, 255, 255, 0.8) !important;
}
#released-c73bc3 li a:hover .link-hover-92hc22 {
  color: inherit !important;
}

.link-hover-92hc22 {
  font-size: 1rem !important;
}

/* BACKGROUND COLORS */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
bg-gray,
bg-black,
.bg-red a,
.bg-yellow a,
.bg-aqua a,
.bg-blue a,
.bg-light-blue a,
.bg-green a,
.bg-navy a,
.bg-teal a,
.bg-olive a,
.bg-lime a,
.bg-orange a,
.bg-fuchsia a,
.bg-purple a,
.bg-maroon a,
bg-gray a,
.bg-black a {
  color: rgba(255, 255, 255, 0.1) !important;
}

.bg-white,
.bg-white a {
  color: rgba(255, 255, 255, 0.1) !important;
}

.bg-red {
  background-color: #f56954 !important;
}

.bg-yellow {
  background-color: #f39c12 !important;
}

.bg-aqua {
  background-color: #00c0ef !important;
}

.bg-blue {
  background-color: #0073b7 !important;
}

.bg-light-blue {
  background-color: #3c8dbc !important;
}

.bg-green {
  background-color: #00a65a !important;
}

.bg-navy {
  background-color: #001f3f !important;
}

.bg-teal {
  background-color: #39cccc !important;
}

.bg-olive {
  background-color: #3d9970 !important;
}

.bg-lime {
  background-color: #01ff70 !important;
}

.bg-orange {
  background-color: #ff851b !important;
}

.bg-fuchsia {
  background-color: #f012be !important;
}

.bg-purple {
  background-color: #932ab6 !important;
}

.bg-maroon {
  background-color: #85144b !important;
}

.bg-gray {
  background-color: #eaeaec !important;
}

.bg-black {
  background-color: #222222 !important;
}